<div [class.hidden]="!isSpecial">Show with class</div>
<div [class.hidden]="isSpecial">Hide with class</div>

<div [style.display]="isSpecial ? 'block' : 'none'">Show with style</div>
<div [style.display]="isSpecial ? 'none'  : 'block'">Hide with style</div>

<input (focusout)="onFocus($event)">
  <p>{{values}}</p>
<hr>

<!-- <input *ngIf="v1" (focusout)="v1=false" [(ngModel)]="values1">
  <p *ngIf="!v1" (click)="v1=true">Par: {{values1}}</p>
<hr> -->

  <!-- <h1 *ngIf="false">{{name}}</h1>
   <input [(ngModel)]="name" #ctr="ngModel" #ct="ngModel" required>

    <p>Value: {{ name }}</p>
    <p>Valid: {{ ctr.valid }}</p>
    <p>Valid: {{ ctr.isDisabled }}</p>
    <p>Name: {{ ctr.name }}</p>

    <button (click)="setValue()">Set value</button> -->
<hr>

<h2 id="appChangeTd">UnlessDirective</h2>
<p>
  The condition is currently
  <span [ngClass]="{ 'a': !condition, 'b': condition, 'unless': true }">{{condition}}</span>.
  <button
    (click)="condition = !condition"
    [ngClass] = "{ 'a': condition, 'b': !condition }" >
    Toggle condition to {{condition ? 'false' : 'true'}}
  </button>
</p>
<p *appChangeTd="condition" class="unless a">
  (A) This paragraph is displayed because the condition is false.
</p>

<p *appChangeTd="!condition" class="unless b">
  (B) Although the condition is true,
  this paragraph is displayed because myUnless is set to false.
</p>


<h4>UnlessDirective with template</h4>
<p *appChangeTd="condition">Show this sentence unless the condition is true.</p>

<p template="appChangeTd condition" class="code unless">
  (A) &lt;p template="appChangeTd condition" class="code unless"&gt;
</p>

<ng-template [appChangeTd]="condition">
  <p class="code unless">
    (A) &lt;template [appChangeTd]="condition"&gt;
  </p>
</ng-template>

<!-- <div class="container"> -->
  <table class="bordered highlight centered responsive-table" style="max-width:90%; margin:auto">
  <!-- <table class="table "> -->
    <caption>{{tableName}}</caption>
    <thead>
      <tr>
        <th *ngFor="let item of getHeadTable()">{{item}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item_data of getDataTable();let h = index;">
        <ng-container *ngFor="let it of getHeadTable(); let v = index;">
          <td>
            <input [hidden]="!getChangeCell(h,v)" (focus)="changeFocusCell(h,v,$event)" [(ngModel)]="item_data[it]" value="{{item_data[it]}}">
            <p [hidden]="getChangeCell(h,v)" (click)="changeShowCell(h,v)">{{item_data[it]}}</p>
          </td>
        </ng-container>
      </tr>
    </tbody>
    <tfoot>
      <tr *ngIf="getColumnSize()"><td colspan=4>My Footer Table </td></tr>
    </tfoot>
  </table>
<!-- </div> -->
